<form novalidate
      #f="ngForm"
      *ngIf="active"
      (ngSubmit)="addTask()"
      class="form-inline my-2 my-lg-0">

  <!--<pre>-->
    <!--{{task| json}}-->
  <!--</pre>-->
  <input class="form-control mr-sm-2"
         type="search" required
         name="name" #name="ngModel"
         [class.is-invalid]="f.invalid && f.touched"
         [(ngModel)]="task.name"
         placeholder="Ajouter une tâche"
         aria-label="Ajouter une tâche">


  <button class="btn btn-primary my-2 my-sm-0"
          [disabled]="f.invalid" type="submit">
    <span class="oi oi-plus"></span>Search</button>

</form>
